
@{
    ViewBag.Title = "Gestão de Produtos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Gestão de Produtos</h3>
<h4>Selecione uma das opções abaixo</h4>

<div class="row text-center pad-top">

    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
        <div class="div-square">
            <a href="~/Cadastros/TipoAtributo">
                <i class="fa fa-address-card-o" style="font-size:36px"></i>
                <h4>Cartões</h4>
            </a>
        </div>
    </div>
</div>


