
@{
    ViewBag.Title = "Gestão de Produtos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="card">
    <div class="card-header">
        <h5 class="card-title">Cartões</h5>
    </div>
    <div class="card-body">
        <div class="row text-center pad-top">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                <div class="div-square">
                    <a href="~/Gestao/Cartoes">
                        <i class="fa fa-group" style="font-size:36px"></i>
                        <h5>Cartões</h5>
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                <div class="div-square">
                    <a href="~/Gestao/Mensalidades">
                        <i class="fa fa-bars" style="font-size:36px"></i>
                        <h5>Mensalidades</h5>
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                <div class="div-square">
                    <a href="~/Gestao/ConfigurarBoleto?qnivcfg=1">
                        <i class="fa fa-table" style="font-size:36px"></i>
                        <h5>Configurar Boleto</h5>
                    </a>
                </div>
            </div>

        </div>
    </div>
</div>


