@{
    ViewBag.Title = "Opções de Cadastro";
}

<div class="card">
    <div class="card-header">
        <h5 class="card-title">Base</h5>
    </div>
    <div class="card-body">
        <div class="row text-center pad-top">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                <div class="div-square">
                    <a href="~/Cadastros/TipoAtributo">
                        <i class="fa fa-address-card" style="font-size:24px"></i>
                        <h5>Tipo de Atributo</h5>
                    </a>
                </div>
            </div>

            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                <div class="div-square">
                    <a href="~/Cadastros/TipoEndereco">
                        <i class="fa fa-map" style="font-size:24px"></i>
                        <h5>Tipo de Endereço</h5>
                    </a>
                </div>
            </div>

            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                <div class="div-square">
                    <a href="~/Cadastros/TipoConta">
                        <i class="fa fa-credit-card" style="font-size:24px"></i>
                        <h5>Tipo de Conta</h5>
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                <div class="div-square">
                    <a href="~/Cadastros/TipoContato">
                        <i class="fa fa-envelope" style="font-size:24px"></i>
                        <h5>Tipo de Contato</h5>
                    </a>
                </div>
            </div>

            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                <div class="div-square">
                    <a href="~/Cadastros/TipoUsuario">
                        <i class="fa fa-user" style="font-size:24px"></i>
                        <h5>Tipo de Usuário</h5>
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                <div class="div-square">
                    <a href="~/Cadastros/TabelaGeral">
                        <i class="fa fa-table" style="font-size:36px"></i>
                        <h5>Tabela Geral</h5>
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                <div class="div-square">
                    <a href="~/Cadastros/StatusTransacao">
                        <i class="fa fa-folder" aria-hidden="true" style="font-size:24px"></i>
                        <h5>Transações</h5>
                    </a>
                </div>
            </div>

            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                <div class="div-square">
                    <a href="~/Cadastros/Operacoes">
                        <i class="fa  fa-folder-plus" aria-hidden="true" style="font-size:24px"></i>
                        <h5>Operacoes</h5>
                    </a>
                </div>
            </div>


        </div>
    </div>
</div>

<div class="card">
    <div class="card-header">
        <h5 class="card-title">Usuários</h5>
    </div>
    <div class="card-body">
        <div class="row text-center pad-top">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                <div class="div-square">
                    <a href="~/Cadastros/Usuarios">
                        <i class="fa fa-address-book"></i>
                        <h5>Usuários</h5>
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                <div class="div-square">
                    <a href="~/Cadastros/UsuarioGestor">
                        <i class="fa fa-tasks fa-2x" aria-hidden="true"></i>
                        <h5>Gestores Produtos</h5>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-header">
        <h5 class="card-title">Gerais</h5>
    </div>
    <div class="card-body">
        <div class="row text-center pad-top">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                <div class="div-square">
                    <a href="~/Cadastros/Enderecos">
                        <i class="fa fa-map-marker" aria-hidden="true" style="font-size:36px"></i>
                        <h5>Endereços</h5>
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                <div class="div-square">
                    <a href="~/Cadastros/Contatos">
                        <i class="fa fa-phone" aria-hidden="true" style="font-size:36px"></i>
                        <h5>Contatos</h5>
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                <div class="div-square">
                    <a href="~/Cadastros/ContaVirtual">
                        <i class="fa fa-folder" aria-hidden="true" style="font-size:36px"></i>
                        <h5>Conta Virtual</h5>
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                <div class="div-square">
                    <a href="~/Cadastros/ContaVinculada">
                        <i class="fa fa-address-card" aria-hidden="true" style="font-size:24px"></i>
                        <h5>Conta Vinculada</h5>
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                <div class="div-square">
                    <a href="~/Gestao/ConfigurarBoleto?qnivcfg=2">
                        <i class="fa fa-table" style="font-size:36px"></i>
                        <h5>Configurar Boleto (Usuário)</h5>
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                <div class="div-square">
                    <a href="~/Gestao/ConfigurarBoleto?qnivcfg=0">
                        <i class="fa fa-table" style="font-size:36px"></i>
                        <h5>Configurar Boleto (Padrão)</h5>
                    </a>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="card">
    <div class="card-header">
        <h5 class="card-title">Produtos</h5>
    </div>
    <div class="card-body">
        <div class="row text-center pad-top">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                <div class="div-square">
                    <a href="~/Cadastros/LinhaProduto">
                        <i class="fa fa-bars-staggered" aria-hidden="true" style="font-size:36px"></i>
                        <h5>Linha Produto</h5>
                    </a>
                </div>
            </div>

            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                <div class="div-square">
                    <a href="~/Cadastros/Produtos">
                        <i class="fa fa-product-hunt" aria-hidden="true" style="font-size:24px"></i>
                        <h5>Produtos</h5>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
