@model ThunderFireHomeAdmin.Models.TransactionStatusModel
@{
    ViewBag.Title = "Status de Transações";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="modal fade" id="modaltransacoes" tabindex="-1" role="dialog" aria-labelledby="attributetypelabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 style="color:red;float:left"><i class="fa fa-folder" aria-hidden="true"> </i> @ViewBag.Title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="OPERATION" value="0" />
                <input type="hidden" id="FNXTSTA" value="0" />
                <div class="form-row">
                    <label for="FCODMOD" class="col-sm-2 control-label form-control-sm">Linha:</label>
                    <div class="col-sm-10">

                        @if (Model.ListaModulos != null)
                        {
                            @Html.DropDownListFor(model => model.FCODMOD, new SelectList(Model.ListaModulos, "KEYCOD", "DSCTAB", Model.FCODMOD), new { @class = "form-control form-control-sm" })
                        }
                    </div>
                </div>

                <div class="form-row">
                    <label for="FCODSTA" class="col-sm-2 control-label form-control-sm">Código:</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control form-control-sm numero" id="FCODSTA" size="6" maxlength="6" required>
                    </div>
                    <label for="FDSCSTA" class="col-sm-2 control-label form-control-sm">Descrição:</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control form-" id="FDSCSTA" size="50" maxlength="70" required>
                    </div>
                </div>
                <div class="form-check form-check-inline" ">
                    <input class="form-check-input form-control-sm" type="checkbox" value="" id="FCANCHG" checked>
                    <label class="form-check-label form-control-sm" for="FCANCHG">Alterar movimento</label>
                </div>


                <div class="form-check form-check-inline" ">
                    <input class="form-check-input form-control-sm" type="checkbox" value="" id="FDELMEN">
                    <label class="form-check-label form-control-sm" for="FDELMEN">Excluir Mensalidade</label>
                </div>


                <div class="form-check form-check-inline" ">
                    <input class="form-check-input form-control-sm" type="checkbox" value="" id="FSTAREC" checked>
                    <label class="form-check-label form-control-sm" for="FSTAREC">Ativo</label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-primary" id="btn_update">Atualizar</button>
            </div>
        </div>
    </div>
</div>


<div class="col-sm-12">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">@ViewBag.Title</h5>
        </div>
        <div class="card-body">
            <div class="form-group row">
                <label for="CCODMOD" class="col-sm-2 control-label form-control-sm">Módulo:</label>
                <div class="col-sm-10">
                    @if (Model.ListaModulos != null)
                    {
                        @Html.DropDownListFor(model => model.CCODMOD, new SelectList(Model.ListaModulos, "KEYCOD", "DSCTAB", Model.CCODMOD), new { @class = "form-control form-control-sm" })
                    }
                </div>
            </div>

            <button id="btn_add" value="Adicionar" class="btn btn-primary btn-sm" onclick="CallForAdd();"><i class="fa fa-plus" aria-hidden="true"></i> Adicionar</button>
            <hr />
            <div class="table-responsive">
                <table id="tbtransacoes" class="table table-bordered table-striped table-hover dataTable js-exportable">
                    <thead>
                        <tr>
                            <th>Código</th>
                            <th>Status</th>
                            <th>Módulo</th>
                            <th>Descrição</th>
                            <th>Por</th>
                            <th>&#160;</th>
                        </tr>
                    </thead>
                </table>
            </div>

        </div>
    </div>
</div>



@section scripts{

    <script src="~/Scripts/Rules/StatusTransacao.js"></script>
}


