@model ThunderFireHomeAdmin.Models.GeneralTableModel
@{

    ViewBag.Title = "Tabela Geral";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="modal fade" id="modalgeneraltable" tabindex="-1" role="dialog" aria-labelledby="attributetypelabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalcaption">@ViewBag.Title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="OPERATION" value="0" />
                <input type="hidden" id="FKEYTAB" value="0" />

                <div class="form-row">
                    <label for="FNUMTAB" class="col-sm-2 control-label form-control-sm">Tabela:</label>
                    <div class="col-sm-10">
                        @if (Model.ListaTabela != null)
                        {
                            @Html.DropDownListFor(model => model.FNUMTAB, new SelectList(Model.ListaTabela, "KEYCOD", "DSCTAB", Model.FNUMTAB), new { @class = "form-control form-control-sm" })
                        }
                    </div>

                </div>
                <hr />
                <div class="form-row">
                    <label for="FKEYCOD" class="col-sm-2 control-label form-control-sm">Código:</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control form-control-sm numero6" id="FKEYCOD" size="8" maxlength="8" required>
                    </div>
                    <label for="FKEYTXT" class="col-sm-2 control-label form-control-sm">Chave:</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control form-control-sm" id="FKEYTXT" size="10" maxlength="10" required>
                    </div>

                    <label for="FDSCTAB" class="col-sm-2 control-label form-control-sm">Descrição:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control form-control-sm" id="FDSCTAB" size="40" maxlength="100" required>
                    </div>
                    <label for="FNUMREF" class="col-sm-2 control-label form-control-sm">Referência:</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control form-control-sm numero6" id="FNUMREF" size="8" maxlength="8" required>
                    </div>
                    <label for="FIDEPRE" class="col-sm-2 control-label form-control-sm">Precedência:</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control form-control-sm numero1" id="FIDEPRE" size="4" maxlength="4" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-sm-6">
                        <div class="form-check text-right">
                            <input type="checkbox" class="form-check-input" id="FSTAREC" checked>
                            <label class="form-check-label" for="FUSRDSP">Disponível para usuário</label>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-check text-right">
                            <input type="checkbox" class="form-check-input" id="FSTAREC" checked>
                            <label class="form-check-label" for="FSTAREC">Ativo</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-primary" id="btn_update">Atualizar</button>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Tabela Geral</h4>
                <div class="form-horizontal">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            @if (Model.ListaTabela != null)
                            {
                                @Html.DropDownListFor(model => model.CNUMTAB, new SelectList(Model.ListaTabela, "KEYCOD", "DSCTAB", Model.CNUMTAB), new { @class = "form-control form-control-sm" })
                            }
                        </div>
                    </div>
                </div>

                <button id="btn_add" value="Adicionar" class="btn btn-primary btn-sm" onclick="CallForAdd();"><i class="fa fa-plus" aria-hidden="true"></i> Adicionar</button>
                <hr />
                <div class="table-responsive">
                    <table id="gridshow" class="table table-bordered table-striped table-hover dataTable js-exportable">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Código</th>
                                <th>Chave</th>
                                <th>Descrição</th>
                                <th>Referência</th>
                                <th>Precedente</th>
                                <th>Disponível</th>
                                <th>&#160;</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script>
        $(document).ready(function () {
            $('.numero6').mask('000000', { reverse: true });
            $('.numero1').mask('0', { reverse: true });
            $(document).on('change', '#CNUMTAB', function () {
                $('#gridshow').DataTable().ajax.reload();
            });
            $('#gridshow').DataTable(
                {
                    paging: true,
                    searching: false,
                    lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "Todos"]],
                    processing: true,
                    serverSide: true,
                    orderMulti: false,
                    ajax: {
                        url: GetUrl("/Cadastros/Listar"),
                        type: "POST",
                        datatype: "json",
                        headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
                        contentType: 'application/x-www-form-urlencoded; charset=utf-8',
                        data: {
                            pNUMTAB: function () { return $('#CNUMTAB').val() }
                        }
                    },
                    columns: [
                        { data: "KEYTAB" },
                        { data: "DSCREC" },
                        { data: "KEYCOD" },
                        { data: "KEYTXT" },
                        { data: "DSCTAB" },
                        { data: "NUMREF" },
                        { data: "IDEPRE" },
                        {
                            data: "USRDSP", "render": function (data, type, row) {
                                if (data == 1)
                                    return "Sim";
                                else
                                    return "Não";
                            }
                        },
                        {
                            "render": function (data, type, row) {

                                if (((row.STAREC == 2) || (row.USRDSP == 0)) == false) {
                                    return "<button id='btn_call_edt' value='Editar' class='btn btn-primary btn-sm' onclick=\"CallForEdit('" + row.KEYTAB + "');\"> <i class='fas fa-edit'></i></button>&nbsp;"
                                }
                            }
                        }
                    ],
                    "language": {
                        "processing": "Aguarde, buscando informações",
                        "loadingRecords": "Carregando",
                    },
                    "pageLength": 10,
                    "oLanguage": {
                        "sLengthMenu": "Mostrar _MENU_ registros por página",
                        "sZeroRecords": "Nenhum registro encontrado",
                        "sInfo": "Mostrando _START_ / _END_ de _TOTAL_ registro(s)",
                        "sInfoEmpty": "Mostrando 0 / 0 de 0 registros",
                        "sInfoFiltered": "(filtrado de _MAX_ registros)",
                        "sSearch": "Pesquisar: "
                    },
                    columnDefs: [
                        { "targets": [0], "visible": false, "searchable": false },
                        { className: "text-right", "targets": [1], "visible": false, "searchable": false, "width": "10%" },
                        { className: "text-right", "targets": [2], "visible": true, "searchable": false, "width": "10%" },
                        { className: "text-left", "targets": [3], "visible": true, "searchable": false, "width": "10%" },
                        { className: "text-left", "targets": [4], "visible": true, "searchable": false, "width": "40%" },
                        { className: "text-left", "targets": [5], "visible": true, "searchable": false, "width": "10%" },
                        { className: "text-left", "targets": [6], "visible": true, "searchable": false, "width": "10%" },
                        { className: "text-left", "targets": [7], "visible": true, "searchable": false, "width": "10%" },
                        { className: "text-left", "targets": [8], "visible": true, "searchable": false, "width": "10%" }
                    ]
                });
        });


        function CallForAdd() {
            $("#OPERATION").val("1");
            $("#FNUMTAB").val($('#CKEYCOD').val());
            $("#FDSCTAB").val("");
            $("#FIDEPRE").val("0");
            $("#FSTAREC").prop('checked', "true");
            $("#FUSRDSP").prop('checked', "true");
            $('#modalgeneraltable').modal({ backdrop: "static", keyboard: false });
            $('#modalgeneraltable').modal('toggle');

        }


        function CallForEdit(pKEYTAB) {
            $("#OPERATION").val("2");
            $.ajax({
                type: "GET",
                url: GetUrl("/Cadastros/SelecionarTabelaGeral"),
                data: { pKEYTAB: pKEYTAB },
                dataType: 'json',
                success: function (result) {
                    $("#FKEYTAB").val(result.KEYTAB);
                    $("#FNUMTAB").val(result.pNUMTAB);
                    $("#FNUMTAB").prop("disabled", true);
                    $("#FKEYCOD").val(result.KEYCOD);
                    $("#FKEYTXT").val(result.KEYTXT);
                    $("#FNUMREF").val(result.NUMREF);
                    $("#FDSCTAB").val(result.DSCTAB);
                    $("#FIDEPRE").val(result.IDEPRE);
                    $("#FUSRDSP").prop('checked', (result.STAREC == 1));
                    $("#FSTAREC").prop('checked', (result.STAREC == 1));
                }
            });
            $('#modalgeneraltable').modal({ backdrop: 'static', Keyboard: 'true' });
            $('#modalgeneraltable').modal('toggle');
        }

    </script>

}