################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ThunderFire.Business/obj/Release
/ThunderFire.Connector/obj/Release
/ThunderFire.Business/obj/Debug
/DbScripts/obj/Release
/ThunderFire.Interface/obj/Release
/ThunderFire.Interface/obj/Debug
/ThunderFire.Domain/obj
/DbScripts/obj/Debug
/ThunderFire.Connector/obj/Debug
/ThunderFireHomeAdmin/.vs/ThunderFireHomeAdmin/v15/Server/sqlite3
/packages
/ThunderFire/obj/Debug
/ThunderFireHomeAdmin/bin
/ThunderFire/bin/Debug
/ThunderFire.Business/bin/Debug
/ThunderFire.Domain/bin/Debug
/ThunderFireHomeAdmin/obj/Debug
/DbScripts/bin/Debug
