
@{
    ViewBag.Title = "Adminstrador";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">
        <h5 class="card-title">Base</h5>
    </div>
    <div class="card-body">
        <div class="row text-center pad-top">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                <div class="div-square">
                    <a href="~/Admin/Grupos">
                        <i class="fa fa-group" style="font-size:36px"></i>
                        <h5>Grupos</h5>
                    </a>
                </div>
            </div>

            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                <div class="div-square">
                    <a href="~/Admin/FuncoesSistema">
                        <i class="fa fa-cubes" style="font-size:36px"></i>
                        <h5>Funcionalidades</h5>
                    </a>
                </div>
            </div>
        </div>
        <div class="row text-center pad-top">
           
        </div>

    </div>
</div>
