/*body {
    padding-top: 50px;
    padding-bottom: 20px;
}*/

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    
}

.wrapper {
    max-width: 960px; /* 20px smaller, to fit the paddings on the sides */
    padding-right: 10px;
    padding-left: 10px;
  
}

table.dataTable  td {
    font-family: Calibri;
    font-size: 12px;
}

.btnicon {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 8px 8px;
    font-size: 12px;
    cursor: pointer;
}

/* Darker background on mouse-over */
.btnicon:hover {
     background-color: RoyalBlue;
}
/* */
.social {
    opacity: 0.9;
    background: transparent;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
}