<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <targets>
    <target xsi:type="File" name="testfile" fileName="${basedir}/log/testes.log"
              layout="${longdate}|${uppercase:${level}}|${logger}| url: ${aspnet-request-url} : ${message} ${exception}"
              archiveFileName="${basedir}/archives/testes.{#####}.log"
              archiveEvery="Day"
              archiveNumbering="Sequence"
              archiveDateFormat="yyyyMMdd"
              maxArchiveFiles="30"/>
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="testfile" />
  </rules>
</nlog>