@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">
        <h5 class="card-title">Base</h5>
    </div>
    <div class="card-body">
        <div class="row text-center pad-top">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                <div class="div-square">
                    <a href="~/Tarifacao/TarifasOperacoes">
                        <i class="fa fa-tasks" style="font-size:36px"></i>
                        <h5>Tarifas x Operações</h5>
                    </a>
                </div>
            </div>

            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                <div class="div-square">
                    <a href="~/Tarifacao/TiposExpansao">
                        <i class="fa fa-project-diagram" style="font-size:36px"></i>
                        <h5>Tipos de Expansão</h5>
                    </a>


                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                <div class="div-square">
                    <a href="~/Tarifacao/ExpansaoTarifa">
                        <i class="fa fa-wallet" style="font-size:36px"></i>
                        <h5>Expansão de Tarifas</h5>
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                <div class="div-square">
                    <a href="~/Tarifacao/Modalidades">
                        <i class="fa fa-building" style="font-size:36px"></i>
                        <h5>Modalidade</h5>
                    </a>
                </div>
            </div>

            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                <div class="div-square">
                    <a href="~/Tarifacao/Tarifas">
                        <i class="fa fa-percent" style="font-size:36px"></i>
                        <h5>Tarifas</h5>
                    </a>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="card">
    <div class="card-header">
        <h5 class="card-title">Vinculações</h5>
    </div>
    <div class="card-body">
        <div class="row text-center pad-top">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                <div class="div-square">
                    <a href="~/Gestao/Cartoes">
                        <i class="fa fa-vault" style="font-size:36px"></i>
                        <h5>Tipos de Tarifação</h5>
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                <div class="div-square">
                    <a href="~/Gestao/Mensalidades">
                        <i class="fa-regular fa-wallet" style="font-size:36px"></i>
                        <h5>Expansão de Tarifas</h5>
                    </a>
                </div>
            </div>

        </div>
    </div>
</div>


