<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <targets>
    <target xsi:type="File" name="errorFile" fileName="${basedir}/log/error.log"
              layout="${longdate}|${uppercase:${level}}|${logger}| url: ${aspnet-request-url} : ${message} ${exception}"
              archiveFileName="${basedir}/archives/error.{#####}.log"
              archiveEvery="Day"
              archiveNumbering="Sequence"
              archiveDateFormat="yyyyMMdd"
              maxArchiveFiles="30"/>

    <target xsi:type="File" name="traceFile" fileName="${basedir}/aud/tracedata.log"
               layout="${longdate}|${uppercase:${level}}|${logger}| url: ${aspnet-request-url} : ${message} ${exception}"
               archiveFileName="${basedir}/archives/tracedata.{#####}.log"
               archiveEvery="Day"
               archiveNumbering="Sequence"
               archiveDateFormat="yyyyMMdd"
               maxArchiveFiles="30"/>

  </targets>
  <rules>
    <logger name="*" level="Trace" writeTo="tracefile" />
    <logger name="*" level="Error" writeTo="errorFile" />
  </rules>
</nlog>